In [12]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats

A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
   
  Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.
 
 
    Minitab File: LabTAT.mtw

In [3]:
Lab_data = pd.read_csv('LabTAT.csv')
Lab_data

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

### Hypothesis Formulation

* HO : There is no  significant difference in  average TAT among the different laboratories.
* Ha : There is a  significant difference in average TAT among the different laboratories.
#### Level of significance = 5%

### NORMALITY TEST

* p <= alpha : reject H0, not normal.
* p > alpha  : fail to reject H0, normal.
* alpha = 0.05 (95% confidence)

In [4]:
stats.shapiro(Lab_data['Laboratory 1'])

ShapiroResult(statistic=0.9901824593544006, pvalue=0.5506953597068787)

In [5]:
stats.shapiro(Lab_data['Laboratory 2'])

ShapiroResult(statistic=0.9936322569847107, pvalue=0.8637524843215942)

In [6]:
stats.shapiro(Lab_data['Laboratory 3'])

ShapiroResult(statistic=0.9886345267295837, pvalue=0.4205053448677063)

In [7]:
stats.shapiro(Lab_data['Laboratory 4'])

ShapiroResult(statistic=0.9913753271102905, pvalue=0.6618951559066772)

#### Hence p value of all four LAB Tests i.e, is Laboratory 1,Laboratory 2,Laboratory 3, Laboratory 4, are greater than alpha i.e, 0.05 so we accept H0 as normal

### Variance Test

* H0 == Variance of all 4 laboratories are the same
* H1 == Variance of all 4 laboratories are the not same

In [8]:
stats.levene(Lab_data["Laboratory 1"], Lab_data["Laboratory 2"], Lab_data["Laboratory 3"], Lab_data["Laboratory 4"])

LeveneResult(statistic=2.599642500418024, pvalue=0.05161343808309816)

* P Value of Variance test is == 0.051 > α

#### variance are equal 

* We will now perform One way Anova Test

In [13]:
stats ,p_val = stats.stats.f_oneway(Lab_data["Laboratory 1"], Lab_data["Laboratory 2"], Lab_data["Laboratory 3"], Lab_data["Laboratory 4"])
stats,p_val

(118.70421654401437, 2.1156708949992414e-57)

In [16]:
if p_val<0.05:
    print('We reject the null hypothesis (H0) and we can say that there is a significant difference in average TAT among the different laboratories')
else:
    print('We donot reject the null hypothesis (H0) and we can say that there is no significant difference in average TAT among the different laboratories.')

We reject the null hypothesis (H0) and we can say that there is a significant difference in average TAT among the different laboratories